.comment-form{
    margin-bottom: 20px;
}
.comment-form button{
    border-radius: 60px;
    padding: 5px 10px;
}
.comment-form button:hover{
    background-color: rgb(22, 129, 22);
    color: #fff;
}
.comment-container{
    margin: 0 150px 150px 150px;
    padding: 0 60px;
    height: 500px;
    overflow-y: scroll;
}

#comment-textarea{
    border-radius: 60px;
    width: 100%; 
    height: 70px; 
    padding: 30px;
    background: rgb(196, 194, 194);
    overflow:hidden;
}

.comment{
    background: rgb(196, 194, 194);
    padding: 20px;
    margin: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .comment-container{
        margin: 15px;
        padding: 0;
        height: 500px;
        overflow-x: hidden;
    }
}