
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 25px;
}

.card{
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}
.card .icon{
    font-size: 90px;
    color: #f0f0f0;
}
.card .u-card{
    padding-top: 20px;
}
#vis-card{
    background: #007bff;
}
#art-card{
    background: #fd7e14;
}
#sat-card{
    background: #28a745;
}

.todo-recent-act{
    display: flex;
    margin-top: 30px;
}
.todo-div{
    width: 100%;
}
.recent-act-div{
    width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr);
      }
      .todo-recent-act{
        flex-direction: column;
    }
}