.tech-page{
    padding-bottom: 150px;
}
.tech-page header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../images/tech2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
}
.tech-page header h1 {
  text-align: center;
  padding-top: 160px;
  font-size: 80px;
  color: rgb(126, 27, 226);
}

.tech-page-main {
  padding: 40px 60px;
}

.tech-page-main .article-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.tech-page-main .article-col {
  border: 1px solid #b4b4b4;
  transition: 0.2s ease-in-out;
  width: 100%;
}
.tech-page-main .article-col:hover {
  border: 1px solid #b4b4b4;
  background: rgb(230, 222, 222);
  box-shadow: 5px 5px #b4b4b4;
}
.tech-page-main .article-col img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.tech-page a {
  color: #3c3c3c;
}
.tech-page-main .art-det {
  transition: 0.2s ease-in-out;
  text-align: center;
  padding: 12px;
  margin: 10px 12px 12px 10px;
}
.tech-page-main .article-col:hover .art-det {
  background: #b4b4b4;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .tech-page header h1 {
    padding-top: 230px;
    font-size: 40px;
  }
  .tech-page-main .article-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .tech-page-main {
    padding: 40px 10px;
  }
}
