.search-modal {
  color: pink;
  background: black;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 3;
  opacity: 0.9;
  padding: 40px;
  display: none;
}

.search-modal .modal-head {
  display: flex;
  justify-content: space-between;
}

.search-modal .close-modal {
  padding: 5px 15px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  background: inherit;
  border: 1px solid grey;
}
.search-modal input {
  width: 100%;
  margin-top: 80px;
  padding: 20px;
  font-size: 120px;
  background: inherit;
  border: none;
  color: grey;
}

.search-modal input:focus{
  outline: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .search-modal input {
    font-size: 20px;
    border: 1px solid grey;
  }
  .search-modal .close-modal {
    padding: 5px 15px;
    border-radius: 50%;
    font-size: 35px;
    color: #fff;
    background: inherit;
    border: 1px solid grey;
  }
}
